<h2>User info</h2>
<%= form_with model: @user do |f| %>
  <label for="user_name">Name</laber>
  <%= f.text_field :name %>
  <label for="user_image">Image</label>
  <%= f.file_field :profile_image, accept: "image/*" %>
  <label for="user_introduction">Introduction</label>
  <%= f.text_area :introduction %>
  <%= f.submit "Update User" %>
<% end %>
